h1 {
	color:orange;
	font-family: 'Aref Ruqaa', serif;
}

p {
	color:green;
	font-family: 'Open Sans', sans-serif;
}

ul li {
	font-size:11px;
}

.navigation {
	text-align: center;
}

.navigation a {
	margin: 0 20px;
}
